body {
    margin:0%;
    background-color: #fff;
    color: #000;
    
}
nav a {
    
    display: inline-block;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
}

.banner img{
    width:100%;
    min-height:100px;
    max-height:660px;
}

header {
    width: 100%;
}

article{
    margin: 50px 50px;
    
}

.about p{
    color: #000;
}
.about h1{
    color: #fff;
    text-align: center;
    background: khaki;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.about h6{
    color: #000;
    margin-top: 10px;
}

.where h1{
    margin-top: 10px;
    color:#fff;
    text-shadow: -3px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    
}
.where h2{
    margin-top: 10px;
    color:#fff;
    text-shadow: -3px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    
}

.where{
    background: khaki;
    margin-top: -50px;
}

.where img{
    margin: auto;
    margin-bottom: 60px;
    margin-top: 30px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);

}

.carousel-inner img{
    border-radius: 5px;
}

.pic {
    text-align: center;
    margin-top: 10px;
}

.display img{
    margin-bottom: 80px;
    margin-top: 80px;
}

.display p{
    color:#000;
}
.display h1{
    margin-top: 40px;
    color:#fff;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.display h3{
    color:#fff;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.display h2{
    color:#fff;
    background: khaki;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.display {
    background: antiquewhite;
    margin-top: -40px;
}

.display .shadow-sm{
    margin-top: 40px;
}

.reccommend h2{
    text-align: center;
    margin-top: 50;
    color:#fff;
    background-color: antiquewhite;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.food h2{
    text-align: center;
    margin-top: 50px;
    color:#fff;
    background-color: khaki;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.col img{
    border-radius: 2px;
}
.card{
    margin: 100px 50px;
    width: 18rem;
}
.card a{
    color: #000;
}
.container.card{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  
}
.highlight h1{
    text-align: center;
    margin-top: 50;
    color:#fff;
    background-color: antiquewhite;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.highlight h2{
    text-align: right;
    margin-top: 50px;
    color:#fff;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.highlight h3{
    text-align: right;
    color:#fff;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.highlight p{
    text-align: right;
    margin-top: 50;
    color:#000;
    
}
.highlight img{
    width: 600px;
    margin-top: 50px;
}

.highlight1 h2{
    text-align: left;
    margin-top: 50;
    color:#fff;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.highlight1 h3{
    text-align: left;
    margin-top: 50;
    color:#fff;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.highlight1 p{
    text-align: left;
    margin-top: 50;
    color:#000;
    
}

.highlight1 img{
    width: 600px; 
}

.footer {
    padding: 1px;
    text-align: center;
    background: rgb(241, 232, 232);
    color:#000; 
    margin-top: 5px;
}


